.advantages__list {
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  list-style-type: none;
  color: @basic-text;
}

.advantages__service-list {
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.advantages__container {
  display: flex;
  flex-direction: column;
  margin: 0;

  background-color: @basic-back;
  color: @additional-color-text;

  @media (max-width: @mobile-width-only) {
    width: 320px;
  }

  @media (min-width: @tablet-width) {
    flex-direction: row;
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.advantages__container--reverse {
  @media (min-width: @tablet-width) {
    flex-direction: row-reverse;
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 37px 18px;
  box-sizing: border-box;

  text-transform: uppercase;
  text-align: center;


  @media (min-width: @tablet-width) {
    width: 256px;
    min-height: 256px;
    padding: 0 40px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
    padding: 0 60px;
  }
}

.advantages__item--place {
  color: @basic-text;
  background-color: @seconadary-back;

  /*padding: 24px 37px;*/
}

.advantages__title {
  font-size: 21px;
  line-height: 26px;

  margin-top: 0;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    width: 150px;
  }
}

.advantages__description {
  margin-top: 0;
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }

  /*@media (min-width: @tablet-width) {
    width: 180px;
  }*/
}


.advantages__picture {
  vertical-align: bottom;
}
