.button {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  background-color: @basic-back;
  color: @additional-color-text;
  line-height: 26px;
  font-size: 21px;
  font-weight: 700;
  border: none;
  text-align: center;
  cursor: pointer;

  padding-top: 18px;
  padding-bottom: 14px;

  &--search {
    width: 284px;
    display: inline-block;

    text-decoration: none;

    @media (min-width: @tablet-width) {
      width: 458px;
      padding-top: 14px;
      padding-bottom: 17px;
    }
  }
}
