.hotel-search {
  padding: 61px 0 66px;

  text-align: center;
}

.hotel-search__container {

  margin: 0 auto;
}

.hotel-search__title {
  font-size: 30px;
  line-height: 26px;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 30px;
}

.hotel-search__text {
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 45px;
}
