.main-header {
  position: relative;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: center;
  }
}

.main-header__logo {
  margin-right: 68px;
  margin-left: 67px;
  position: absolute;
  z-index: 3;
  left: 0;

  @media (min-width: @tablet-width) {
    z-index: 5;
    left: 224px;
  }

  @media (min-width: @desktop-width) {
    left: 439px;
  }
}

.main-header__logo-image {
  display: block;
}
