.main-footer__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 29px 82px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    padding: 36px 82px;
  }
}

.main-footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
