.review {
  padding-top: 37px;
  padding-bottom: 25px;

  @media (min-width: @tablet-width) {
    padding-top: 66px;
    padding-bottom: 67px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 100px;
  }
}

.review__container {
  width: 280px;
  margin: 0 auto;

  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 435px;
  }
}

.review__title {
  font-size: 21px;
  line-height: 26px;

  margin-top: 0;
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.review__text {
  margin-top: 0;
  margin-bottom: 0;
}
